# =========================
# 🔹 OS / General
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 VSCode
# =========================
.vscode/

# =========================
# 🔹 PlatformIO (ESP32)
# =========================
.pio/
.pioenvs/
.piolibdeps/
firmware/**/Config.h

# =========================
# 🔹 Node / React
# =========================
node_modules/
dist/
build/
.env

# =========================
# 🔹 .NET
# =========================
bin/
obj/

# =========================
# 🔹 Logs
# =========================
*.log
server/Api/appsettings.json
